.App{
    z-index: 10000;
    position: absolute;
    margin: 1%;
    padding: 1%;
    width: 30%;
    background-color: rgba(100, 149, 237, 0.1);
}

.Footer{
    z-index: 10000;
    position: fixed;
    bottom: 0;
    left: 25%;
    margin: 1%;
    padding: 1%;
    width: 50%;
}
